@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");


* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Gradient background */
.page {
  min-height: 100vh;
  background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcb045);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Black card */
.card {
  width: 350px;
  background: #000;
  padding: 30px 25px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
}

/* Instagram text */
.instaText {
  font-family: "Pacifico", cursive;
  font-size: 38px;
  margin-bottom: 25px;
  font-weight: lighter;
}

.instaLogo {
  margin-bottom:-20px;
  width: 50px;
}

/* Inputs */
.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  background: #222;
  border: 1px solid #333;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
}

.input::placeholder {
  color: #aaa;
}

/* Errors */
.error {
  color: #ff6b6b;
  font-size: 12px;
  text-align: left;
  margin-bottom: 6px;
}

/* Login button */
.loginBtn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #3897f0;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.loginBtn:disabled {
  background: #6faef5;
  cursor: not-allowed;
}

/* OR divider */
.or {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.or span {
  flex: 1;
  height: 1px;
  background: #333;
}

.or p {
  margin: 0 10px;
  font-size: 12px;
  color: #aaa;
}

/* Facebook login */
.fbLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #3897f0;
  font-weight: bold;
  cursor: pointer;
}

.fbIcon {
  font-size: 18px;
}

/* Forgot password */
.forgot {
  margin-top: 15px;
  font-size: 13px;
  color: #3897f0;
  cursor: pointer;
}

/* Signup box */
.signupBox {
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px solid #333;
  font-size: 14px;
}

.signupBox span {
  color: #3897f0;
  font-weight: bold;
  cursor: pointer;
}

/* Get app section */
.getApp {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

.getAppText {
  margin-bottom: 10px;
}

.appLinks {
  display: flex;
  gap: 10px;
  justify-content: center;
}


.appLinks img {
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s;
}

.appLinks img:hover {
  transform: scale(1.05);
}

.error {
  color:red;
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
}


@media (max-width: 480px) {
  .card {
    padding: 30px 20px;
  }

  .instaLogo {
    width: 36px;
  }

  .instaText {
    font-size: 36px;
  }
}
